body {
	overflow: hidden;
}

#panoPlayer {
	position: absolute;
	z-index: 0;
}

.container {
	position: relative;
	z-index: 100;
}

canvas {
	cursor: crosshair;
}

.menuHide {
	display: none;
}

#info {
	color: #ffffff;
	padding: 0;
}

#info .top {
	background: rgba(255, 128, 0, .75);
	overflow: hidden;
}

#info h1 {
	font-weight: bold;
	font-size: 2.5em;
	margin: 0;
	padding: 10px;
	line-height: 1em;
}

#info h2 {
	font-size: 1em;
	margin: 0;
	padding: 0 10px;
}

#info a {
	text-decoration: none;
}

#info a.active {
	font-weight: bold;
}

#info li:hover {
	background-color: #ff3300;
}

/* ABOUT */
.about {
	display: none;
	z-index: 3000;
	top: 0;
	background-color: rgba(0,0,0,.75);
	padding: 1em;
	box-sizing: border-box;
	height: 430px;
	color: #ddd;
	overflow: auto!important;
}

.about h3 {
	margin-top: 0;
}

.aboutClose {
	background-color: rgba(0,0,0,.5);
	padding: 5px;
	text-decoration: none;
	position: absolute;
	color: #fff;
	right: 10px;
}

.aboutClose:hover {
	color: #fff;
}

.videoControls {
	font-size: 1.5em;
	position: absolute;
	padding: 10px 0 0 0;
	right: 20px;
	top: 10px;
}

.videoControls i {
	color: #fff;
}

.videoControls i:hover {
	color: #ccc;
}

.videoControls .active i {
	color: #c00;
}

.nav {
	margin: 20px 0;
	background-color: rgba(255, 255, 255, .25);
}

.statusMessage {
	background-color: rgba(100,100,100,.75);
	color: #fff;
	padding: 0 10px;
}


#stats {
	display: none;
}
